@import "tailwindcss";

:root {
  --background: #f2f3ff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
  
.Toastify__progress-bar {
    background-color: #4f46e5 !important; 
}
.Toastify__progress-bar--default {
    background: rgb(13, 0, 255) !important; 
} 

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5f7fc;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
